.landing {
  width: 1000px;
  height: 800px;
  background-image: url(https://i.pinimg.com/564x/3d/17/dc/3d17dcd02b4d028995e84b526db88802.jpg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
